@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1175px;
  }
}

.wrapper {
  background: #f9f8fc;
  padding: 20px 0;
}

pre.language-js {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #3c3c64;
  display: block;
  text-shadow: none;
  font-family: Roboto Mono, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e2e2e2;
  padding: 15px 20px;
  -webkit-font-smoothing: antialiased;
}

.token.keyword {
  color: #00cdff;
}

.token.property {
  color: #fff;
}

.token.boolean,
.token.string {
  color: #e995ff;
}

.token.number {
  color: #c3e88d;
}

.token.operator {
  background-color: transparent !important;
  color: #b5b5b5 !important;
}

.token.constant {
  color: #00cdff !important;
}

.token.function {
  color: #fff;
}

.token.punctuation {
  color: #fff !important;
}

body {
  margin: 0;
  font-family: TTNormsPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

a {
  color: #7c64ff;
}

h2 {
  font-weight: 500;
  color: #444;
}

a:not(:hover) {
  text-decoration: none;
}

.text-blue {
  color: #7c64ff;
}

.text-yellow {
  color: #f0d91e;
}

.page {
  margin: 0 auto 50px;
}

.page-section {
  padding: 20px 0;
}

.title {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 10px;
}

.description {
  color: #444;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.header {
  position: relative;
  margin-bottom: 40px;
}

.logo svg {
  width: 120px;
  height: auto;
}

.logo svg path {
  fill: #7c64ff;
}

@media (min-width: 600px) {
  .logo {
    margin-right: 40px;
  }

  .header {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .logo {
    margin-bottom: 10px;
  }

  .logo svg {
    width: 100px;
  }
}

.table {
  border: 1px solid #ece8f1;
  border-collapse: collapse;
  width: 100%;
}

.table thead th {
  padding: 10px 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #5a5c87;
  background: #f9f8fc;
  border-bottom: 1px solid #ece8f1;
}

.table td {
  min-width: 130px;
  padding: 20px;
  font-size: 15px;
  vertical-align: baseline;
  line-height: 25px;
  border-bottom: 1px solid #ece8f1;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.modules-list {
  list-style: none;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.modules-list li {
  padding: 10px;
  display: flex;
}

.modules-list li p {
  margin-bottom: 0;
  margin-right: 10px;
  min-width: 120px;
}

.header-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  list-style: none;
}

.header-icons li a {
  padding: 10px;
  color: #7c64ff;
  transition: 0.2s;
  display: block;
}

.header-icons li a:hover {
  color: #595c87;
}

.header-icons li a:active {
  transform: scale(0.9);
}

.page-section pre.language-js {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  max-width: 100%;
}

/* From the docs */
body {
  font-size: 17px;
  line-height: 25px;
  color: #3c3c64;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #7d64ff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(125,100,255,0);
  transition: all .3s;
}
a:hover {
  text-decoration: none;
}
a:not([class=no-hover]):hover {
  color: #7d64ff;
  border-bottom: 1px solid rgba(125,100,255,.5);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin: 30px 0 15px 0;
}

code {
  font-family: 'Roboto Mono',SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.code-toolbar {
  position: relative;
}

.code-toolbar button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 5px 2px 6px;
  background-color: #5a5c87;
  border-radius: 2px;
  height: 20px;
  border: none;
  outline: none;
  font-weight: 600;
  line-height: normal;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
