@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1175px;
  }
}

.wrapper {
  background: #f9f8fc;
  padding: 20px 0;
}

pre.language-js {
  color: #fff;
  background: none;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #3c3c64;

  display: block;
  text-shadow: none;
  padding-right: 15px;
  font-family: Roboto Mono, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e2e2e2;

  padding: 15px 20px;
  -webkit-font-smoothing: antialiased;
}

.token.keyword {
  color: #00cdff;
}

.token.property {
  color: #fff;
}

.token.boolean,
.token.string {
  color: #e995ff;
}

.token.number {
  color: #c3e88d;
}

.token.operator {
  background-color: transparent !important;
  color: #b5b5b5 !important;
}

.token.constant {
  color: #00cdff !important;
}

.token.function {
  color: #fff;
}

.token.punctuation {
  color: #fff !important;
}

body {
  margin: 0;
  font-family: -apple-system, Whitney, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  color: #444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

a {
  color: #7c64ff;
}

h2 {
  font-weight: 500;
  color: #444;
}

a:not(:hover) {
  text-decoration: none;
}

.text-blue {
  color: #7c64ff;
}

.text-yellow {
  color: #f0d91e;
}

.page {
  margin: 0 auto 50px;
}

.page-section {
  padding: 20px 0;
}

.title {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 10px;
}

.description {
  color: #444;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.header {
  position: relative;
  margin-bottom: 40px;
}

.logo svg {
  width: 120px;
  height: auto;
}

.logo svg path {
  fill: #7c64ff;
}

@media (min-width: 600px) {
  .logo {
    margin-right: 40px;
  }

  .header {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .logo {
    margin-bottom: 10px;
  }

  .logo svg {
    width: 100px;
  }
}

.table {
  border-collapse: collapse;
}

.table td {
  border: 1px solid #e6e6e6;
  padding: 10px;
  min-width: 130px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.modules-list {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.modules-list li {
  padding: 10px;
  display: flex;
}

.modules-list li p {
  margin-bottom: 0;
  margin-right: 10px;
  min-width: 120px;
}

.header-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  list-style: none;
}

.header-icons li a {
  padding: 10px;
  color: #7c64ff;
  transition: 0.2s;
  display: block;
}

.header-icons li a:hover {
  color: #595c87;
}

.header-icons li a:active {
  transform: scale(0.9);
}

.page-section pre.language-js {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  max-width: 100%;
}
