name: deploy-dev

on:
  workflow_dispatch:

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      S3_BUCKET_ID: dev-us-east-0-jslib-k6-io-website
      CLOUDFRONT_DISTRIBUTION_ID: EM434H1NWE8NZ
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        
      - id: get-secrets 
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          vault_instance: dev
          # arn:.../k6-jslib-uploader-role
          repo_secrets: |
            IAM_ROLE_ARN=deploy:uploader-iam-role 

      - name: aws-auth
        uses: grafana/shared-workflows/actions/aws-auth@85022085ed5314601c05d10e846de56bdd71e369 # aws-auth/v1.0.3
        with:
          aws-region: 'us-west-1'
          role-arn: '${{ env.IAM_ROLE_ARN }}'
          set-creds-in-environment: true

      - name: Deploy lib to s3
        run: ./deploy.sh
