name: deploy-production

on:
  push:
    branches:
      - main
    paths:
      - 'lib/**'

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      S3_BUCKET_ID: prod-us-east-0-jslib-k6-io-website
      CLOUDFRONT_DISTRIBUTION_ID: E2GTCZBXCV8MU0
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        
      - uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          # arn:.../k6-jslib-uploader-role
          repo_secrets: |
            IAM_ROLE_ARN=deploy:uploader-iam-role 

      - name: aws-auth
        uses: grafana/shared-workflows/actions/aws-auth@85022085ed5314601c05d10e846de56bdd71e369 # aws-auth/v1.0.3
        with:
          aws-region: 'us-west-1'
          role-arn: '${{ env.IAM_ROLE_ARN }}'
          set-creds-in-environment: true

      - name: Deploy lib to s3
        run: ./deploy.sh
