name: 'Auto Assign'
on:
  pull_request:
    types: [opened, ready_for_review, reopened]

permissions: {}

jobs:
  add-reviews:
    if: ${{ join(github.event.pull_request.requested_reviewers.*.login, ',') == '' }}
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@f4648c0a9fdb753479e9e75fc251f507ce17bb7e # v2.0.0
        with:
          configuration-path: '.github/pr-auto-assign-config.yml'