name: 'Auto Assign'
on:
  pull_request:
    types: [opened, ready_for_review, reopened]

permissions: {}

jobs:
  add-reviews:
    if: ${{ join(github.event.pull_request.requested_reviewers.*.login, ',') == '' }}
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@ed73f90568ce37d22dbbd1a73983738fae329f53 # v1.2.6
        with:
          configuration-path: '.github/pr-auto-assign-config.yml'