name: test

on: [push]

permissions: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: download k6 binary
        run: curl -fsSL https://github.com/grafana/k6/releases/download/v1.0.0/k6-v1.0.0-linux-amd64.tar.gz | tar -xvz

      - name: move downloaded k6 binary to current directory
        run: mv k6-*/k6 .

      - name: Upload k6 binary
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: k6
          path: k6

  test-base:
    needs: setup
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Download k6 binary
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: k6

      - name: Ensure proper permissions on k6 executable
        run: chmod +x k6

      - name: Run tests with compatibility-mode=base
        run: ./k6 run tests/testSuiteBase.js

  test-extended:
    needs: setup
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Download k6 binary
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: k6

      - name: Ensure proper permissions on k6 executable
        run: chmod +x k6

      - name: Run tests
        run: ./k6 run tests/testSuite.js
